compile_commands.json
**/*.o
**/*.so
rstack_example
a.out
test_*.fout
test_*_executable
test_*.o
test.fout
test.diff
test.stdout
test.valgrind
test.make
rstack/
rstack.tgz

file_one.out
file_two.out
file_three.out
file_four.out
file_five.out
file_memory.out
